.news__editor{
	.news__preview button{
		padding: 7px 15px;
		border-radius: 10px;
		color: white;
		background: #751DC6;
		border: none;
		margin-top: 15px;
	}
	.news__preview-title {
		color: white;
		font-size: 32px;
		margin-bottom: 30px;
	}
}

