@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
	position: relative;
}

body {
	min-height: 100vh;
	background: #241631;
}

main::-webkit-scrollbar{
	width: 6px;
	background: #241631;
}

main::-webkit-scrollbar-thumb{
	background: #751DC6;
}

.container{
	max-width: 1300px;
	padding: 0 10px;
	margin:  0 auto;
}

.nav-link{
	color: white;
	text-decoration: none;
}

.row{
	display: flex;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.btn{
	border-radius: 7px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	border: none;
}

h1{
	color: white;
	font-size: 32px;
	margin-bottom: 30px;
}

h1.colored{
	color: lightgreen;
}

main{
	padding-top: 35px;
	height: calc(100vh - 67px);
	overflow: hidden;
	overflow-y: auto;
}

@media all and (max-width: 768px) {
	.container{
		padding: 0;
	}
	main::-webkit-scrollbar{
		width: 0px;
		background: #241631;
	}
	
	main::-webkit-scrollbar-thumb{
		background: #751DC6;
	}
}

@supports (-webkit-touch-callout: none) {
	body {
	 min-height: 100dvh;
	}
	main{
	 height: calc(100dvh - 67px);
	}
 }