.text-editor{
	.text-editor__prew{
			padding: 7px 15px;
			border-radius: 10px;
			margin-top: 15px;
	}
}
.tox:not([dir=rtl]) .tox-statusbar__branding{
	display: none !important;
}
.tox:not([dir=rtl]) .tox-statusbar__branding {
	font-size: 10px !important;
}

